

body {
    background-color: #212529;
    text-align: center;
    font-family: "Madimi One", sans-serif;
    display: flex;
    
}

.container {
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
}

.nav-dash{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}


.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn {
    background-color: transparent;
    border-radius: 5px;
    margin: 5px;
    color: white;
    font-family: "Madimi One", sans-serif;
    user-select: none;
}

.btn:hover {
    color: gold;
    background-color: gray; 
}

h1 {
    user-select: none;
    color: white;
}

img {
    user-select: none;
}


